.window{
    -fx-background-color: aqua;
}
.digit{
    -fx-font-size: 13;
    -fx-background-radius: inherit;
    -fx-font-family: "Century Schoolbook L";
    -fx-border-color: brown;
    -fx-border-width: 0.1;
}

.digit:pressed {
    -fx-background-color: cornflowerblue;
    -fx-border-color: brown;
    -fx-border-width: 0.1;
    -fx-background-radius: inherit;
}

.digit:hover {
    -fx-background-color: aqua;
    -fx-border-color: brown;
    -fx-border-width: 0.1;
    -fx-background-radius: inherit;
}

.digit:focused{
    -fx-background-color: aliceblue;
    -fx-border-color: brown;
    -fx-border-width: 0.1;
    -fx-background-radius: inherit;
}

.result{
    -fx-text-fill: chocolate;
    -fx-background-color: darkorchid;
    -fx-font-size: 30;
}